.button-add {
    width: 4em;
    height: 4em;
    background-color: var(--color-test);
    font-family: inherit;
    border: none;
    border-radius: 50%;
    margin: 1px;
}

.button-add:hover {
    border: 3px solid black;
    background-color: var(--color-test2);
}