* {
    font-family: Lato, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color-darkBackground);
}

#react-app {
    margin: 0;
    padding: 1em;
    border: none;
    width: calc(100vw - 2em);
    height: 90vh;
    min-height: calc(100vh - 10em);
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "top top top"
        "left-up middle right"
        "left-middle middle right"
        "left-down middle right"
        "left-down middle bottom";
    gap: 1em;
}

.paper {
    background-color: var(--color-lightBackground);
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(204 197 185 / 70%);
    padding: 0.5em;
}

.second-container {
    /* border: solid 2px red; */
    padding: 0.5em;
}

.third-container {
    flex-grow: 1;
    border: solid 2px blue;
}

.third-container+h1 {
    margin: 0.5em 0 0 0;
}

#container-top {
    grid-area: top;
}

#header-sub-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#container-left-up {
    grid-area: left-up;
}

#container-left-down {
    grid-area: left-down;
}

#container-left-middle {
    grid-area: left-middle;
}

#container-middle {
    grid-area: middle;
}

#container-right {
    grid-area: right;
}

#container-bottom {
    grid-area: bottom;
}

h1 {
    font-size: 1em;
    margin: 2px 0 10px 0;
    color: var(--color-dark);
}

h2 {
    font-size: 1em;
    font-weight: normal;
}