/* 1.  Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1.1.  Global variables */

* {
    --color-dark: hsl(230deg 35% 7%);
    --color-blue: hsl(231deg 77% 90%);
    --color-white: hsl(0deg 0% 100%);

    --font-heading: "Bellefair", serif;
    --font-text: "Barlow Condensed", sans-serif;

    --font-size-multiplier: 1;

    color: var(--color-white);
    font-weight: 400;
}

@media (max-width: 767px) {
    * {
        --font-size-multiplier: calc(80/150);
        --body-font-multiplier: calc(25/28);
    }
}

/* 1.2.  Headings and text-styles */

h1 {
    font-family: var(--font-heading);
    font-size: calc(150px * var(--font-size-multiplier));
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-heading);
    font-size: calc(100px * var(--font-size-multiplier));
    text-transform: uppercase;
}

h3 {
    font-family: var(--font-heading);
    font-size: calc(56px * var(--font-size-multiplier));
    text-transform: uppercase;
}

h4 {
    font-family: var(--font-heading);
    font-size: calc(32px * var(--font-size-multiplier));
    text-transform: uppercase;
}

h5 {
    font-family: var(--font-text);
    font-size: calc(28px * var(--font-size-multiplier));
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: var(--color-blue)
}

.subheading1 {
    font-family: var(--font-heading);
    font-size: calc(28px * var(--font-size-multiplier));
    text-transform: uppercase;
}

.subheading2 {
    font-family: var(--font-text);
    font-size: calc(14px * var(--font-size-multiplier));
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.navtext {
    font-family: var(--font-text);
    font-size: calc(16px * var(--font-size-multiplier));
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

.bodytext {
    color: var(--color-blue);
    font-family: var(--font-text);
    font-size: calc(18px * var(--body-font-multiplier));
    line-height: 1.78em;
    font-weight: 200;
    letter-spacing: 0.056em;
}

/* 1.3.  Set backgrounds for different resolutions */

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media (min-width: 600px) and (max-width: 1000px) {
    body {
        background-image: url("./assets/home/background-home-tablet.jpg");
    }
}

@media (min-width: 1000px) {
    body {
        background-position: right;
        background-image: url("./assets/home/background-home-desktop.jpg");
    }
}

/* 2.  Navbar */

.navbar {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    scale: calc(40 / 48);
}

.navbar img+img {
    scale: 1;
}

.navbar div {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.navbar button {
    font-size: 1.4em;
    border: none;
    background: none;
    font-family: var(--font-text);
}

/* 3.  Main page styles */

.main {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: calc(100vh - 40em);
    align-items: center;
}

.main * {
    text-align: center;
}

.main>div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


.big-btn {
    margin-top: 1em;
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    border: none;
    color: var(--color-dark);
    font-family: var(--font-heading);
    letter-spacing: 0.054em;
    text-transform: uppercase;
    font-size: calc(38px * var(--font-size-multiplier));
}

.big-btn:hover {
    box-shadow: 0 0 0 3.75em rgba(255, 255, 255, 0.1);
}

