.button-small {
    width: 2em;
    height: 2em;
    background-color: var(--color-test);
    font-family: inherit;
    border: none;
    border-radius: 50%;
    margin: 1px;
}

.button-small:hover {
    background-color: var(--color-test2);
}

.button-small>img {
    width: 1.45em;
    height: 1.45em;
}