* {
    font-family: Lato, Arial, sans-serif;
    font-weight: 600;
    color: rgb(97, 97, 97);
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color-darkBackground);
}

#react-app {
    margin: 0;
    padding: 1em;
    border: none;
    width: calc(100vw - 2em);
    height: 90vh;
    min-height: calc(100vh - 10em);
}

#container-navbar {
    min-width: 450px;
    width: 50%;
    margin: 1em auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.paper {
    background-color: var(--color-lightBackground);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(204 197 185 / 70%);
    padding: 1em;
    margin: 0 5vw;
}

h1 {
    font-size: 1.5em;
    margin: 2px 0 10px 0;
    color: var(--color-dark);
}

h2 {
    font-size: 1.25em;
    color: var(--color-dark);
}

p {
    margin: 2px 0 2px 0;
}